.container {
    display: grid;
    grid-template-areas:
    "header header"
    "sidebar main";
    grid-template-columns: 10rem auto;

}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    background-color: red;
    width: 10rem;
    height: 100vh;

}

.products {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: scroll;
    height: 80vh;
}

.products__card {
    margin-top: 4rem;
    margin-left: 4rem;
}