.container {
    display: grid;
    grid-template-rows: 8rem 4rem auto;
    /*grid-gap: .3rem;*/
}

.shop-navigation {

    top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(white, lightgrey);
}

.shop-navigation__buttons {
    color: white;
    background-color: #fd5c1a;
    width: 10rem;
    border-color: #fd5c1a;
    height: 3rem;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
}

.images {
    cursor: pointer;
    height: 80vh;
}

.shop-carousel {
    height: 80vh;
}