.header {
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    height: 8rem;
    background-image: linear-gradient(lightgrey, white);
}

.logo {
    width: 6rem;
    height: 4.5rem;
    margin-left: 2rem;
    cursor: pointer;
}

.search {
    position: relative;
    display: flex;
    flex: 0 0 40%;
    align-items: center;

}

.search__input {
    border-radius: 100px;
    border: none;
    height: 2rem;
    width: 80%;
    background-color: #f4f2f2;
    transition: all .4s;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
}

.search__input::placeholder {
    color: #d3d3d3;
}

.search__input:focus {
    width: 100%;
    outline: none;
    border: none;
}

.search__icon {
    position: relative;
    right: 2rem;
}

.shopping_cart {
    display: flex;
    align-items: center;
    background-color: inherit;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    border: none;
}

.icon__shopping_cart {
    transform: scale(2.5);
    color: #454b4a;
}
.shopping_cart:active > .icon__shopping_cart {
    transition: all .2s;
    transform: translateY(.2rem);
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 2rem;
    height: 2rem;
    background-color: red;
    color: white;
    border-radius: 100px;
    top: -1.5rem;
}
